body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #058f00;
    text-align: center;
}

form {
    background-color: #1e1e1e;
    padding: 20px;
    padding: auto;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

input, select, textarea {
    background-color: #333;
    color: #fff;
    border: 1px solid #777;
    padding: 8px;
    margin-top: 5px;
    width: 93%;
    border-radius: 5px;
}

input[type="radio"], input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}

input[type="submit"], input[type="reset"] {
    background-color: #058f00;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #07da00;
}
